<div fxLayoutAlign ="center center" fxFlexFill class ="main-div">
   <mat-card fxFlex="25">
   <mat-toolbar color="primary">    Connexion </mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column">
  <mat-form-field>
    <mat-label>Email </mat-label>
    <input matInput placeholder="E-mail ou pseudo" formControlName="email">
  </mat-form-field>

 <mat-form-field>
    <mat-label>mot passe</mat-label>
    <input matInput type="password" placeholder="mot passe"formControlName="password">
  </mat-form-field>
   <button mat-raised-button type="submit">Se connecter</button>
</form>

   </mat-card>
 </div>
